pre[class*='language-'] {
  color: #cad3f5;
  background-color: #24273a;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: #ed8796;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #c6a0f6;
}

.token.module {
  color: #eed49f;
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: #a6da95;
}

.token.punctuation,
.token.attr-equals {
  color: #8bd5ca;
}

.token.unit,
.language-css .token.function {
  color: theme('colors.sky.200');
}

.token.comment,
.token.operator,
.token.combinator {
  color: #6e738d;
}

.token.comment {
  font-style: italic;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #cad3f5;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #eed49f;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #91d7e3;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #8aadf4;
}
